extends layout

block contents
    #home
        div.climate
            h3 Weather
            div.indoor
                div.temperature= netatmo.indoor.temperature
                div.humidity= netatmo.indoor.humidity
                div.co2= netatmo.indoor.co2
                div.noise= netatmo.indoor.noise
            div.outdoor
                div.temperature= netatmo.outdoor.temperature
                div.humidity= netatmo.outdoor.humidity
        div.lights