doctype html
html.no-js(lang="en")
    head
        title #{pageTitle} - Ayla
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="mobile-web-app-capable", content="yes")
        link(rel="icon", type="image/x-icon", href="/favicon.ico")

        script(src="/socket.io/socket.io.js")
        script window.ayla = {};

        != css("styles")
        for c in loadCss
            != css(c)

        != js("scripts")
        for j in loadJs
            != js(j)
    body
        #wrapper
            #header.top-bar(role="navigation")
                .top-bar-left
                    ul.menu
                        li
                            a(href="/dashboard") Ayla
                        for m, key in managerModules
                            li(class="#{m.title.toLowerCase()}")
                                a(href="/manager/#{m.title.toLowerCase()}")
                                    span #{m.title}

            block contents

            #announcements(style="display: none")
                div
                    span.message
                    span.details
